---
layout: default
---

  
  
      <ul class="category-cloud">
    {% assign sort_cats = site.categories | sort %}   
    {% for category in sort_cats %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <p><h3>{{ category_name | capitalize }}</h3></p>
        {% for weight in (1..4) %}            
            {% for post in site.categories[category_name] %}
                {% if post.weight == weight %}
                <span class="bgcol"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></span>&nbsp;<br>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    </ul>
